
useDynLib(spTimer)
exportPattern("^[^\\.]")
#export(spAR.Gibbs)
#export(spAR.prediction)
#export(spAR.forecast)
#exportClasses(spAR.Gibbs,spAR.prediction,spAR.forecast)

#export(spT.Gibbs)
#export(spT.prediction)
#export(spT.forecast)
#export(spT.priors)
#export(spT.initials)
#export(spT.geodist)
#export(spT.decay)


S3method(print,spT)
S3method(print,spTpred)
S3method(print,spTfore)

#import(coda)